/.*
!/.gitignore
/samclark.net/sam-files/Sam-Clark-Publications.zip
/samclark.net/pdfs/clark-2006_adjuik-et-al-indepth-cause-specific-mortality.pdf
/samclark.net/pdfs/clark-1995_clark-et-al-ten-thousand-tonga.pdf
/samclark.net/pdfs/clark-2001_phd_an-investigation-into-the-impact-of-hiv-on-population-dynamics-in-africa (signed copy of deposited document).pdf
/samclark.net/pdfs/clark-2001_phd_an-investigation-into-the-impact-of-hiv-on-population-dynamics-in-africa.pdf
/samclark.net/pdfs/clark-2001_phd_an-investigation-into-the-impact-of-hiv-on-population-dynamics-in-africa.zip
/samclark.net/pdfs/clark-2004_hargreaves-et-al-agincourt-child-mortality.pdf
/samclark.net/pdfs/clark-2005_benzler-et-al-timestamp.pdf
/samclark.net/pdfs/clark-2006_clark-spehr.pdf
/samclark.net/pdfs/clark-2007_alkema-et-al-projections-hiv-prevalence.pdf
/samclark.net/pdfs/clark-2007_clark-et-al-returning-home-to-die.pdf
/samclark.net/pdfs/clark-2007_clark-introduction-spehr.pdf
/samclark.net/pdfs/clark-2007_kahn-et-al-agincourt-profile.pdf
/samclark.net/pdfs/clark-2008_cassels-et-al-mathematical-models-hiv-transmission.pdf
/samclark.net/pdfs/clark-2008_tollman-et-al-agincourt-mortality-transition-health-care.pdf
/samclark.net/pdfs/clark-2010_williams-et-al-public-health-training.pdf
/samclark.net/pdfs/clark-2011_alkema-et-al-projections-tfr.pdf
/samclark.net/pdfs/clark-2011_thomas-et-al-cohort-component.pdf
/samclark.net/pdfs/clark-2012_alkema-et-al-fertility-trends.pdf
/samclark.net/pdfs/clark-2012_byass-et-al-interva4.pdf
/samclark.net/pdfs/clark-2012_clark-et-al-age-specific-reductions-hiv-mortality.pdf
/samclark.net/pdfs/clark-2012_kahn-et-al-agincourt-profile.pdf
/samclark.net/pdfs/clark-2012_madhavan-et-al-agincourt-child-mortality-household-composition.pdf
/samclark.net/pdfs/clark-2013_clark-et-al-maternal-death-child-mortality.pdf
/samclark.net/pdfs/clark-2013_gomez-olive-et-al-agincourt-hiv-prevalence.pdf
/samclark.net/pdfs/clark-2013_houle-et-al-agincourt-household-context-child-mortality.pdf
/samclark.net/pdfs/clark-2013_sharrow-et-al-agincourt-age-pattern-hiv-mortality.pdf
/samclark.net/pdfs/clark-2013_wheldon-et-al-past-pop-reconstruct-uncertainty.pdf
/samclark.net/pdfs/clark-2014_bocquier-et-al-agincourt-ubiquitous-burden-hiv-migration.pdf
/samclark.net/pdfs/clark-2014_clark-et-al-validation-heckman-hiv.pdf
/samclark.net/pdfs/clark-2014_clark-et-al-validation-replication,-and-sensitivity-testing-of-heckman-type-selection-models-to-adjust-estimates-of-hiv-prevalence.pdf
/samclark.net/pdfs/clark-2014_collinson-et-al-agincourt-migration-epi-transition.pdf
/samclark.net/pdfs/clark-2014_houle-et-al-agincourt-unfolding-counter-transition.pdf
/samclark.net/pdfs/clark-2014_mcparland-et-al-agincourt-clustering-ses.pdf
/samclark.net/pdfs/clark-2014_pantazis-et-al-sterility.pdf
/samclark.net/pdfs/clark-2014_sankoh-et-al-indepth-age-structure.pdf
/samclark.net/pdfs/clark-2014_sharrow-et-al-hiv-mortality-schedules.pdf
/samclark.net/pdfs/clark-2015_clark-et-al-agincourt-cardiometabolic-disease-hiv.pdf
/samclark.net/pdfs/clark-2015_helleringer-et-al-ebola-children.pdf
/samclark.net/pdfs/clark-2015_houle-et-al-maternal-mortality-childs-death.pdf
/samclark.net/pdfs/clark-2015_mercer-et-al-space-time-smoothing-child-mortality.zip
/samclark.net/pdfs/clark-2015_sankoh-et-al-chess.pdf
/samclark.net/pdfs/clark-2015_wheldon-et-al-two-sex-pop-reconstruct.pdf
/samclark.net/pdfs/clark-2015_zaba-et-al-response-to-dermot-maher.pdf
/samclark.net/pdfs/clark-2015_zaba-et-al-understanding-hiv-surveillance-participation.pdf
/samclark.net/pdfs/clark-2016_bawah-et-al-epidemographic-transition-indepth-sites.pdf
/samclark.net/pdfs/clark-2016_houle-et-al-agincourt-fertility.pdf
/samclark.net/pdfs/clark-2016_houle-et-al-lets-talk-about-sex-fieldworker-effects.pdf
/samclark.net/pdfs/clark-2016_kabudula-et-al-agincourt-ses.pdf
/samclark.net/pdfs/clark-2016_mccormick-et-al-insilicova.zip
/samclark.net/pdfs/clark-2016_reniers-et-al-alpha-network-data-profile.pdf
/samclark.net/pdfs/clark-2016_reniers-et-al-hiv-mortality-art-kzn-alpha.pdf
/samclark.net/pdfs/clark-2016_wheldon-et-al-female-pop-resonstruct.pdf
/samclark.net/pdfs/clark-2017_kabudula-et-al-progression-epidemiological-transition-rural-south-africa.pdf
/samclark.net/pdfs/clark-2017_kabudula-et-al-socioeconomic-differences-in-mortality-Agincourt-2001-13.pdf
/samclark.net/pdfs/clark-2017_renieres-et-al-tuberculosis-mortality-male-survival-south-africa.pdf
/samclark.net/pdfs/clark-2017_sankoh-et-al-New-INDEPTH-strategy-SDGs.pdf
/samclark.net/pdfs/clark-2017_sankoh-et-al-population-based-data-sustainable-development-goals.pdf
/samclark.net/pdfs/clark-2018_clark-et-al-hyak-mortality-monitoring-system.pdf
/samclark.net/pdfs/clark-2018_houle-et-al-fieldworker-effects-on-substance-use-reporting-in-a-rural-south-african-setting.pdf
/samclark.net/pdfs/clark-2018_houle-et-al-sexual-behavior-and-HIV-risk-across-the-life-course-in-rural-South-Africa-trends-and-comparisons.pdf
/samclark.net/pdfs/clark-2018_nichols-et-al-the-WHO-2016-verbal-autopsy-instrument.pdf
/samclark.net/pdfs/clark-2018_pantazis-et-al-parsimonious-characterization-change-global-age-specific-fertility-and-total-fertility.pdf
/samclark.net/pdfs/clark-2018_sharrow-et-al-probabilistic-population-projections-for-countries-with-generalized-HIV-AIDS-epidemics.pdf
/samclark.net/pdfs/clark-2018_wakefield-et-al-estimating-under-five-mortality-in-space-and-time-in-a-developing-world-context.zip
/samclark.net/pdfs/clark-2019_byass-et-al-an-integrated-approach-to-processing-who-2016-verbal-autopsy-data-the-interva-5-model.pdf
/samclark.net/pdfs/clark-2019_clark-a-general-age-specific-mortality-model-with-an-example-indexed-by-child-mortality-or-both-child-and-adult-mortality.zip
/samclark.net/pdfs/clark-2019_jha-et-al-automated-versus-physician-assignment-of-cause-of-death-for-verbal-autopsies-randomized-trial-of-9374-deaths-in-117-villages-in-india.pdf
/samclark.net/pdfs/clark-2019_li-et-al-bayesian-joint-spike-and-slab-graphical-lasso.zip
/samclark.net/pdfs/clark-2019_li-et-al-changes-in-the-spatial-distribution-of-the-under-five-mortality-rate-small-area-analysis-of-122-dhs-surveys-in-262-subregions-of-35-countries-in-africa.zip
/samclark.net/pdfs/clark-2019_li-et-al-using-bayesian-latent-gaussian-graphical-models-to-infer-symptom-associations-in-verbal-autopsies.zip
/samclark.net/pdfs/clark-2020_calvert-et-al-direct-maternal-deaths-attributable-to-hiv-in-the-era-of-antiretroviral-therapy-evidence-from-three-population-based-hiv-cohorts-with-verbal-autopsy.pdf
/samclark.net/pdfs/clark-2020_clusters-of-hiv-risk-and-protective-sexual-behaviors-in-agincourt,-rural-south-africa---findings-from-the-ha-nakekela-population-based-study-of-ages-15-and-older.pdf
/samclark.net/pdfs/clark-2020_gomez-olive-et-al-hiv-incidence-among-older-adults-in-a-rural-south-african-setting-2010-2015.pdf
/samclark.net/pdfs/clark-2020_houle-et-al-clusters-of-hiv-risk-and-protective-sexual-behaviors-in-agincourt,-rural-south-africa---findings-from-the-ha-nakekela-population-based-study-of-ages-15-and-older.pdf
/samclark.net/pdfs/clark-2020_kunihama-et-al-bayesian-factor-models-for-probabilistic-cause-of-death-assessment-with-verbal-autopsies.zip
/samclark.net/pdfs/clark-2020_li-et-al-non-confirming-replication-of-'performance-of-insilicova-for-assigning-causes-of-death-to-verbal-autopsies---multisite-validation-study-using-clinical-diagnostic-gold-standards,'-by-flaxman-et-al.pdf
/samclark.net/pdfs/clark-2020_non-confirming-replication-of-'performance-of-insilicova-for-assigning-causes-of-death-to-verbal-autopsies---multisite-validation-study-using-clinical-diagnostic-gold-standards,'-by-flaxman-et-al.pdf
/samclark.net/pdfs/clark-2020_setel-et-al-Mortality-surveillance-during-the-COVID-19-pandemic.pdf