/.*
!/.
/samclark.net/site/misc
/samclark.net/site/cv
/samclark.net/site/media
/samclark.net/site/talks
/samclark.net/Samuel-Clark_CV.pdf
/samclark.net/pdfs
/samclark.net.sublime-project
/samclark.net.sublime-workspace
/samclark.net/counter.txt
/samclark.net/hit_log.txt
/archive
/tools