# Redirects to keep legacy URLs working
Redirect /Samuel-Clark_CV.pdf /site/cv/Samuel-Clark_CV.pdf
Redirect /site/misc/spehr/index.html /site/projects/data-methods.shtml
Redirect /pdfs/clark-2001_phd_an-investigation-into-the-impact-of-hiv-on-population-dynamics-in-africa.pdf /site/cv/clark-2001_phd_an-investigation-into-the-impact-of-hiv-on-population-dynamics-in-africa.pdf
RedirectMatch 301 ^/site/cv/pdfs /site/cv/offprint.shtml
RedirectMatch 301 ^/pdfs /site/cv/offprint.shtml
RedirectMatch 301 ^/spehr /site/misc/spehr

# Protect ~/samclark.net/site/clark
AuthName "Dialog prompt"
AuthType Basic
AuthUserFile /home/dh_7gfp82/samclark.net/site/clark/.htpasswd
Require valid-user
