body {
    width:400px;
    margin:0 auto;
}

div.sam-title {
    font:22px/26px Helvetica;
    text-align:center;
}

div.sam-multiline-title {
    width:350px;
    margin:0 auto;
    font:22px/26px Helvetica;
    text-align:center;
    line-height: 30px;
}

div.sam-name-title {
    width:350px;
    margin:0 auto;
    font:18px/22px Helvetica;
    text-align:center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.sam-center-block {
    width:350px; 
    margin:0 auto; 
    font:13px/15px Helvetica;
}

div.sam-note {
    font:10px/12px Helvetica;
    text-align:center;
}

div.sam-link {
    font:12px/14px Helvetica;
    text-align:center;
}

a:link{
  color:blue;
}
a:visited{
  color:blue;
}
a:hover{
  color:green;
}
a:focus{
  color:green;
}
a:active{
  color:red;
}

ul.sam {
  list-style-type: circle;
  margin: 4px;
  padding: 4px;
}

hr {
  margin-top:22px; 
  margin-bottom:18px;
}

h4 {
  margin-top:12px;
  margin-bottom:4px; 
}

h4.date {
  margin-top:12px;
  margin-bottom:4px;
  color:red; 
}

p {
  margin-top:4px;
  margin-bottom:6px;
}

ul {
  margin-top:6px;
  margin-bottom:6px;
}

ol {
  margin-top:6px;
  margin-bottom:6px;
}
